.background
{
	background-image:url("view.jpg");
	background-size:cover;
    background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
     min-width:100%;
	min-height:665px;
	display: block;
}
.tx{
	margin-top:6px;
	border-left:0px;
    border-right:0px;
    border-top:0px;
	border-bottom:3px solid #9999ff;
	background-color:rgba(8, 8, 8, 0.72);
	margin-buttom:5px;
	color:white;
	
}
.tx:hover{
 border-left:0px;
 border-right:0px;
 border-top:0px;
 border-bottom:3px solid red;
 border-radius:2px 2px 2px 2px;}
 .srchtitle
{
	text-align:center;
	margin-bottom:10px;
	font-family:Trebuchet MS;
	letter-spacing:2px;
	font-size:20px;
	color:#34A853;
}
.modalbg
{
	background-color: rgba(255, 255, 255, 0.12);
    padding:20px;
}
.modal-content.modalbg {
    margin-top: 140px;
}
	