<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost/xyz?autoReconnect=true</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>pwd</param-name>
    <param-value>12345</param-value>
  </context-param>
  <servlet>
    <servlet-name>s1</servlet-name>
    <servlet-class>com.shub.servlet.Sign</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s2</servlet-name>
    <servlet-class>com.shub.servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s3</servlet-name>
    <servlet-class>com.shub.servlet.Massege</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s4</servlet-name>
    <servlet-class>com.shub.servlet.Chatstore</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s5</servlet-name>
    <servlet-class>com.shub.servlet.Search</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s6</servlet-name>
    <servlet-class>com.shub.servlet.Changepwd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s7</servlet-name>
    <servlet-class>com.shub.servlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s8</servlet-name>
    <servlet-class>com.shub.servlet.Otpsend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s9</servlet-name>
    <servlet-class>com.shub.servlet.Otp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s10</servlet-name>
    <servlet-class>com.shub.servlet.Reply</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s11</servlet-name>
    <servlet-class>com.shub.servlet.Report</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s12</servlet-name>
    <servlet-class>com.shub.servlet.ReplyRollno</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s13</servlet-name>
    <servlet-class>com.shub.servlet.Forgetpwd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s14</servlet-name>
    <servlet-class>com.shub.servlet.Feedback</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s15</servlet-name>
    <servlet-class>com.shub.servlet.QuizStart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s16</servlet-name>
    <servlet-class>com.shub.servlet.QuizExam</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s17</servlet-name>
    <servlet-class>com.shub.servlet.AviBoy</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s18</servlet-name>
    <servlet-class>com.shub.servlet.AviGirl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s19</servlet-name>
    <servlet-class>com.shub.servlet.AviMatch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s20</servlet-name>
    <servlet-class>com.shub.servlet.AviMatch2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s21</servlet-name>
    <servlet-class>com.shub.servlet.AviMatch3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s22</servlet-name>
    <servlet-class>com.shub.servlet.AviMatch4</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>s23</servlet-name>
    <servlet-class>com.shub.servlet.sendMailtoAll</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>s1</servlet-name>
    <url-pattern>/sign</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>s2</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>s3</servlet-name>
    <url-pattern>/massege</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>s4</servlet-name>
    <url-pattern>/chatstore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>s5</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>s6</servlet-name>
    <url-pattern>/changepwd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>s7</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>s8</servlet-name>
    <url-pattern>/otpsend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>s9</servlet-name>
    <url-pattern>/otp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>s10</servlet-name>
    <url-pattern>/reply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>s11</servlet-name>
    <url-pattern>/report</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>s12</servlet-name>
    <url-pattern>/replyrollno</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>s13</servlet-name>
    <url-pattern>/forgetpwd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>s14</servlet-name>
    <url-pattern>/feedback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>s15</servlet-name>
    <url-pattern>/quizstart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>s16</servlet-name>
    <url-pattern>/quizexam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>s17</servlet-name>
    <url-pattern>/aviboy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>s18</servlet-name>
    <url-pattern>/avigirl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>s19</servlet-name>
    <url-pattern>/avimatch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>s20</servlet-name>
    <url-pattern>/avimatch2</url-pattern>
  </servlet-mapping> 
   <servlet-mapping>
    <servlet-name>s21</servlet-name>
    <url-pattern>/avimatch3</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>s22</servlet-name>
    <url-pattern>/avimatch4</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>s23</servlet-name>
    <url-pattern>/sendMail</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>fornt1.html</welcome-file>
  </welcome-file-list>
</web-app>